@import "tailwindcss";

@layer base {
  html {
    font-size: 14px;
    font-weight: 400;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}